@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	background-color: #011F28;
	font-family: Poppins, sans-serif;
	font-size: 1.2rem;
	color: #F3E1DD;
	min-height: 100vh;
}

.full-height-grow{
	display: flex;
	flex-direction: column;
}

.logo{
	display: flex;
	align-items: center;
	font-size: 1.25em;
	color: inherit;
	text-decoration: none;
}

.logo-name{
	margin-left: 1rem;
}

.main-nav ul, .footer-nav ul{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav a, .footer-nav a{
	color: #F3E1DD;
	text-decoration: none;
	padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover{
	color: #adadad;
}

.main-header, .main-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header{
		height: 140px;
}

.main-footer{
	height:45px;
	background-color: rgba(196, 196, 196, 0.35);
	font-size: 1rem;
}

.main-footer .container{
	display: flex;
	justify-content: space-between;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
	flex-grow: 1;
}

.title{
	font-size: 3em;
	margin-bottom: 1rem;
	margin-top: 0;
	color: #ED8E79;
	font-style: normal;
	font-weight: normal;
	line-height: 140.62%;
}

.subtitle{
	font-size: 1.3em;
	margin-bottom: 2rem;
	font-style: normal;
	font-weight: normal;
	line-height: 140.62%;
}

.btn{
	color: #F3E1DD;
	background-color: #6A0030;
	padding: .35rem 1.5rem;
	border-radius: 12px;
	text-decoration: none;
	font-size: 19px;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn:hover{
	background-color: #ED8E79
}

.discover-title{
	font-style: normal;
	color: #6A0030;
	font-weight: normal;
	font-size: 37px;
	line-height: 140.62%;
	display: flex;
	align-items: center;
	text-align: center;
}

.discover-subtitle{
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 140.62%;
	display: flex;
	align-items: center;
	text-align: center;
	color: #011F28;
}